In [1]:
#Import libraries
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
#Connexion to the API thanks to your key
#Api doc = https://api.cfl.ca/docs
key = 'YOUR_KEY'

#Request the summary of all matches of the season
response = requests.get(f'http://api.cfl.ca/v1/games/2019?key={key}')

#Pass the json response into a new variable
output = response.json()

#JSON is a dictionary , if you call output.keys(), you get dict_keys(['data', 'errors', 'meta'])
#As all results are in the "data" column, we'll call it
clean_output = output['data']

#The cleaned dic is transformed into a table and then into a DataFrame
table = pd.json_normalize(clean_output)
df = pd.DataFrame(table)

In [3]:
#Call df.head() to make sure everything looks goof
df.head()

,game_id,date_start,game_number,week,season,attendance,game_duration,tickets_url,event_type.event_type_id,event_type.name,...,team_1.is_winner,team_2.team_id,team_2.location,team_2.nickname,team_2.abbreviation,team_2.score,team_2.venue_id,team_2.linescores,team_2.is_at_home,team_2.is_winner
0,2552,2019-05-26T16:00:00-04:00,1,1,2019,23549,172,http://www.esks.com/tickets/,0,Preseason,...,False,3,Edmonton,Eskimos,EDM,22,3,"[{'quarter': 1, 'score': 3}, {'quarter': 2, 's...",True,True
1,2553,2019-05-30T11:00:00-04:00,2,2,2019,4313,167,http://www.argonauts.ca/tickets/,0,Preseason,...,False,8,Toronto,Argonauts,TOR,45,25,"[{'quarter': 1, 'score': 20}, {'quarter': 2, '...",True,True
2,2554,2019-05-31T20:30:00-04:00,3,2,2019,19273,177,http://www.bluebombers.com/tickets/,0,Preseason,...,False,9,Winnipeg,Blue Bombers,WPG,20,9,"[{'quarter': 1, 'score': 3}, {'quarter': 2, 's...",True,True
3,2555,2019-05-31T21:00:00-04:00,4,2,2019,0,168,http://www.stampeders.com/tickets/,0,Preseason,...,False,2,Calgary,Stampeders,CGY,37,2,"[{'quarter': 1, 'score': 10}, {'quarter': 2, '...",True,True
4,2556,2019-06-01T19:00:00-04:00,5,2,2019,22318,167,http://www.ottawaredblacks.com/tickets/,0,Preseason,...,True,6,Ottawa,Redblacks,OTT,21,6,"[{'quarter': 1, 'score': 3}, {'quarter': 2, 's...",True,False

Maintenant on veut la liste dÃ©taillÃ©e de toutes les actions de chaque match
Cependant, on ne peut les avoir qu'en faisant des requÃªtes match par match
La prochaine Ã©tape est donc d'isoler la liste des identifiants de chaque match, et de faire les requÃªtes Ã  l'API

In [4]:
#Select the "game_id" column, transform it in a list and pass it into a new variable
game_id_list = df["game_id"].tolist()

In [5]:
#There are 95 matches in the season, and we are limited to 30 calls to the API a minute
#So we split the list in several parts
game_id_list1 = game_id_list[0:30]
game_id_list2 = game_id_list[30:60]
game_id_list3 = game_id_list[60:90]
game_id_list4 = game_id_list[90:96]

In [6]:
#Create several loops that will go through the lists, take each game_id and call the API
files_list1 = []

for match in game_id_list1:
    response = requests.get(f'http://api.cfl.ca/v1/games/2019/game/{match}?include=play_by_play&key={key}')
    output = response.json()
    clean_output = output['data'][0]['play_by_play']
    table = json_normalize(clean_output)
    df = pd.DataFrame(table)
    df['game_id'] = match
    df.to_excel(f'match_{match}_play_by_play.xlsx',sheet_name='Sheet1')
    files_list1.append(f'match_{match}_play_by_play.xlsx')

C:\Users\nicol\anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [7]:
files_list2 = []

for match in game_id_list2:
    response = requests.get(f'http://api.cfl.ca/v1/games/2019/game/{match}?include=play_by_play&key={key}')
    output = response.json()
    clean_output = output['data'][0]['play_by_play']
    table = json_normalize(clean_output)
    df = pd.DataFrame(table)
    df['game_id'] = match
    df.to_excel(f'match_{match}_play_by_play.xlsx',sheet_name='Sheet1')
    files_list2.append(f'match_{match}_play_by_play.xlsx')

C:\Users\nicol\anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  import sys

In [8]:
files_list3 = []

for match in game_id_list3:
    response = requests.get(f'http://api.cfl.ca/v1/games/2019/game/{match}?include=play_by_play&key={key}')
    output = response.json()
    clean_output = output['data'][0]['play_by_play']
    table = json_normalize(clean_output)
    df = pd.DataFrame(table)
    df['game_id'] = match
    df.to_excel(f'match_{match}_play_by_play.xlsx',sheet_name='Sheet1')
    files_list3.append(f'match_{match}_play_by_play.xlsx')

C:\Users\nicol\anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  import sys

In [12]:
files_list4 = []

for match in game_id_list4:
    response = requests.get(f'http://api.cfl.ca/v1/games/2019/game/{match}?include=play_by_play&key={key}')
    output = response.json()
    clean_output = output['data'][0]['play_by_play']
    table = json_normalize(clean_output)
    df = pd.DataFrame(table)
    df['game_id'] = match
    df.to_excel(f'match_{match}_play_by_play.xlsx',sheet_name='Sheet1')
    files_list4.append(f'match_{match}_play_by_play.xlsx')

C:\Users\nicol\anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  import sys

In [13]:
#Create a global list by merging the lists together
files_list = files_list1 + files_list2 + files_list3 + files_list4

In [21]:
#Finally go through each file and merge them as a single DataFrame. Save an Excel for your archive
all_data = pd.DataFrame()
for file in files_list:
    df = pd.read_excel(file)
    all_data = all_data.append(df,ignore_index=True)
all_data.to_excel('all_play_by_play_data.xlsx')

In [30]:
#Check to see if it looks good
final_data = all_data.drop(columns=['Unnamed: 0'])
final_data.head()

,play_id,play_sequence,quarter,play_clock_start,play_clock_start_in_secs,field_position_start,field_position_end,down,yards_to_go,is_in_red_zone,...,players.ball_carrier.first_name,players.ball_carrier.middle_name,players.ball_carrier.last_name,players.ball_carrier.birth_date,players.primary_defender.cfl_central_id,players.primary_defender.first_name,players.primary_defender.middle_name,players.primary_defender.last_name,players.primary_defender.birth_date,game_id
0,221272,2,1,15:00,900,E35,B37,1,0,False,...,Hugh,NaN,O'NEILL,1990-01-20,163172,Christophe,NaN,MULUMBA,1993-01-06,2552
1,221273,3,1,14:55,895,B37,B11,1,10,False,...,Ricky,NaN,LLOYD,1992-12-25,162345,Joshua,NaN,STANFORD,1994-07-25,2552
2,221274,4,1,14:30,870,B11,B6,1,10,True,...,Ricky,NaN,COLLINS,1992-03-05,160810,Keon,NaN,LYN,1989-03-10,2552
3,221275,5,1,14:11,851,B6,B12,2,5,True,...,Trevor,NaN,HARRIS,1986-05-31,163911,Steffon,NaN,HERD,1993-05-11,2552
4,221276,6,1,13:28,808,B12,NaN,3,11,True,...,Sean,NaN,WHYTE,1985-10-23,0,NaN,NaN,NaN,NaN,2552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14936,236657,148,4,01:02,62,H39,H42,2,14,False,...,Tyrell,NaN,SUTTON,1986-12-19,164827,Mike,NaN,JONES,1995-09-01,2646
14937,236658,149,4,00:36,36,H42,W48,3,11,False,...,Dane,NaN,EVANS,1993-11-19,160037,Luke,NaN,TASKER,1991-01-18,2646
14938,236659,150,4,00:10,10,W48,W47,1,10,False,...,Zach,NaN,COLLAROS,1988-08-27,0,NaN,NaN,NaN,NaN,2646
14939,236660,151,4,00:09,9,W47,W46,2,11,False,...,Zach,NaN,COLLAROS,1988-08-27,0,NaN,NaN,NaN,NaN,2646
14940,236661,152,4,00:00,0,NaN,NaN,1,0,False,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,2646